$primary: #009688;
$background: #f4f4f4;
$size-6: 16px;

@import "~bulma";

.nav {
  background: $primary;
}

a.nav-item {
  color: white;
  &:hover, &:active, &:focus {
    color: white;
    text-decoration: underline;
  }
}

.is-link.nav__auth-link {
  color: white;
  text-decoration: none;
  height: 100%;
  border: none;
  &:hover, &:active, &:focus {
    border: none;
    cursor: pointer;
    color: white;
    background: transparent;
    text-decoration: underline;
  }
}

.nav-toggle span {
  background-color: white;
}

.profile__img {
  border-radius: 50%;
  height: 30px;
}
